// import local variables

@import "variables";

// import bootstrap

@import 'node_modules/bootstrap/scss/bootstrap.scss';

.custom-color{
  background-color: $greige;
}

img.preview {
  width: 200px;
  background-color: white;
  border: 1px solid #DDD;
  padding: 5px
}

#map {
  width: 100%;
  height: 300px;
}
.VueTables__pagination-wrapper{
  float: right;
}
.VueTables__limit{
  float: right;
}
.form-inline {
  display: table-row
}
// Tabla Promotor
p.lspace {
  padding-left: 1.2em
}

p.sspace {
  padding-left: 0.6em
}

.green-badge-secondary {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(40, 167, 69, 1);
}

.yellow-badge-secondary {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(255, 193, 7, 1);
}

.red-badge-secondary {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(220, 53, 69, 1);
}

// paddin top
nav + div{
  padding-top: 100px;
}

.pagination {
  justify-content: center;
}

.error {
  color: #941914;
}

// Rotacion de las imagens

.rotate90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.rotate180 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.rotate0 {
}

.ancho_table {
  width: 100px;
}