<template>
    <div>
        <div class="container">
        <h1>Tabla Locales</h1>
            <v-client-table :data="locales_row" :columns="columns_locales" :options="options_locales">
              <template slot="pk" slot-scope="props">
                <div>
                  <a @click.prevent="editarLocal(props.row.pk)" href="#">
                    {{props.row.pk}}</a>
                  <a class="ml-4" href="#" v-on:click="delete_local(props.row.pk)">Eliminar <i class="far fa-trash-alt"></i></a>
                </div>
              </template>
              <template slot="username" slot-scope="props">
                {{props.row.propietario.usuario}}
              </template>
              <template slot="propietario" slot-scope="props">
                <a @click.prevent="editarPropietario(props.row.propietario.pk)" href="#">
                  {{props.row.propietario.pk}}
                </a>
              </template>
              <template slot="giro" slot-scope="props">
                <div v-if="props.row.giro">
                  {{props.row.giro}}
                </div>
                <div v-else>
                  No contiene un giro
                </div>
              </template>
              <template slot="colonia" slot-scope="props">
                {{props.row.direccion.colonia}}
              </template>
              <template slot="codigo_postal" slot-scope="props">
                {{props.row.direccion.codigo_postal}}
              </template>
              <template slot="foto" slot-scope="props">
                <div>
                  <img @load="rotate_on_load($event)" v-bind:src="props.row.foto" alt="" type="submit" class="img-thumbnail orientacion" style="width: 150px; height:120px;">
                </div>
              </template>
            </v-client-table>
        </div>
    </div>
</template>

<script>
import { mapState } from 'vuex'

const EXIF = window.EXIF

export default {
  name: 'TablaLocal',
  computed: {
    ...mapState({
      locales_row: state => state.data_locales.results
    })
  },
  mounted () {
  },
  data () {
    return {
      theme: 'bootstrap4',
      columns_locales: [
        'pk',
        'username',
        'propietario',
        'nombre_comercial',
        'giro',
        'espacio_tipo',
        'colonia',
        'codigo_postal',
        'foto'
      ],
      rows_locales: [],
      options_locales: {
        headings: {
          'username': 'Username',
          'nombre_comercial': 'Nombre del Local',
          'espacio_tipo': 'Tipo'
        },
        texts: {
          filter: '',
          filterBy: '{column}'
        },
        filterByColumn: true,
        filterable: [
          'pk',
          'username',
          'nombre_comercial',
          'espacio_tipo',
          'colonia'
        ],
        sortable: true,
        listColumns: {
          espacio_tipo: [{
            id: '',
            text: '...'
          },
          {
            id: 'P',
            text: 'P'
          },
          {
            id: 'C',
            text: 'C'
          }]
        },
        pagination: {
          dropdown: true,
          esdge: true
        },
        sortIcon: {
          is: 'fas fa-arrows-alt-v',
          up: 'fas fa-sort-amount-up',
          down: 'fas fa-sort-amount-down'
        },
        highlightMatches: true,
        perPageValues: [10, 25, 50, 100, 200, 1000]
      }
    }
  },
  methods: {
    async editarLocal (pk) {
      await this.$store.dispatch('asistenteEditarLocal', pk)
      this.$router.push({name: 'LocalEdit', params: {data: 'Local'}})
    },
    async editarPropietario (k) {
      await this.$store.dispatch('asistentePropietario', k)
      this.$router.push({name: 'PropietarioEdit', params: {data: 'Local'}})
    },
    delete_local (pkLocal) {
      console.log(pkLocal)
    },
    rotate_on_load ($event) {
      this.set_rotation($event.target, 0)
    },
    set_rotation (img, tag) {
      var instance = this

      getExif(img, tag)

      function getExif (img, tag) {
        var CeroGrados = 'rotate0'
        var NoventaGrados = 'rotate90'
        var CientoOchentaGrados = 'rotate180'

        EXIF.getData(img, function () {
          var Orientation = EXIF.getTag(this, 'Orientation')
          // console.log(Orientation)
          var arr = img.className.split(' ')
          if (Orientation) {
            if (Orientation === 6) {
              if (arr.indexOf(NoventaGrados) === -1) {
                if (tag === 0) {
                  img.className += ' ' + NoventaGrados
                } else if (tag === 1) {
                  instance.imgClass.rotate90 = true
                }
              }
            } else if (Orientation === 1) {
              if (arr.indexOf(CeroGrados) === -1) {
                if (tag === 0) {
                  img.className += ' ' + CeroGrados
                } else if (tag === 1) {
                  instance.imgClass.rotate0 = true
                }
              }
            } else {
              if (arr.indexOf(CientoOchentaGrados) === -1) {
                if (tag === 0) {
                  img.className += ' ' + CientoOchentaGrados
                } else if (tag === 1) {
                  instance.imgClass.rotate180 = true
                }
              }
            }
          } else {
            if (arr.indexOf(CeroGrados) === -1) {
              if (tag === 0) {
                img.className += ' ' + CeroGrados
              } else if (tag === 1) {
                instance.imgClass.rotate0 = true
              }
            }
          }
        })
      }
    }
  }
}
</script>
