<template>
    <div>
    <Menu/>
    <div class="container">
      <h4 class="my-4">Fotografías</h4>
      <div class="row">
      <div v-for=" (image, index) in imageData" v-bind:key="image" class="col-md-4">
      <div class="text-center mt-3">
        <label v-if="image.length == 0" class="btn btn-picture">
          <i class="fas fa-camera fa-5x"></i>
          <input id="inputImage" type="file" ref="file" @change="previewImage" accept="image/*" capture="camera" style="display: none;"/>
        </label>
        <div class="image-preview" v-if="image">
          <div class="row">
            <div class="col-12">
              <img class="preview" :src="image">
            </div>
          </div>
          <div class="gap">
          </div>
          <div class="row justify-content-center">
            <div class="col-3">
              <span>
                <a @click.prevent="clearImageData(index)" href="#">
                  <i class="fas fa-trash-alt fa-2x"></i>
                </a>
              </span>
            </div>
          </div>
        </div>
        <div class="row error">
            <div class="col"  v-show="invalid.imagen">
              Imagen requerida
            </div>
        </div>
      </div>
      </div>
      <div class="col-md-4 align-self-center">
        <div class="row justify-content-center">
        <label class="btn btn-picture">
          <h4>Agregar foto</h4>
          <i class="fas fa-camera fa-5x"></i>
          <input id="inputImage" type="file" ref="file" @change="previewImage" accept="image/*" capture="camera" style="display: none;"/>
        </label>
      </div>
      </div>
    </div>
      <h4 class="my-4">Ubicación</h4>
      <div class="form-group">
        <div id="map"></div>
      </div>
      <form class="form-wrapper">
        <div class="form-row">
          <div class="col-sm-12 col-md-6">
            <div class="form-group">
              <label>Nombre del espacio ooh</label>
              <input @keyup='toggle_is_invalid($event)' type="text" class="form-control" placeholder="...">
              <div class="error" v-show="invalid.nombre_espacio">
                Nombre del espacio requerido
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-3">
            <div class="form-group">
              <label>Empresa</label>
              <input v-model="data.data.empresa" type="text" class="form-control" placeholder="...">
            </div>
          </div>
          <div class="col-sm-12 col-md-3">
            <div class="form-group">
              <label>Precio</label>
              <input v-model="data.data.precio" type="text" class="form-control" placeholder="...">
            </div>
          </div>
        </div>
      </form>
      <h4>Direccion</h4>
      <form class="form-wrapper">
        <div class="form-row">
          <div class="col-sm-6 col-md-3">
            <div class="form-group">
              <label>Calle</label>
              <input v-model="data.data.calle" type="text" class="form-control" placeholder="15 x 32" required>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="form-group">
              <label>Numero</label>
              <input v-model="data.data.numero" type="text" class="form-control" placeholder="156" required>
            </div>
          </div>
          <div class="col-sm-12 col-md-2">
            <div class="form-group">
              <label>Codigo postal</label>
              <input v-model="data.data.codigo_postal" type="text" class="form-control" placeholder="..." required>
            </div>
          </div>
          <div class="col-sm-12 col-md-3">
            <div class="form-group">
              <label>Colonia</label>
              <select class="form-control">
                <option>options 1</option>
                <option>options 2</option>
                <option>options 3</option>
                <option>options 4</option>
                <option>options 5</option>
              </select>
            </div>
          </div>
          <div class="col-sm-12 col-md-2">
            <div class="form-group">
              <label>Municipo</label>
              <h5>{{data.data.municipio}}</h5>
            </div>
          </div>
          <div class="col-sm-12 col-md-2">
            <div class="form-group">
              <label>Estado</label>
              <h5>{{data.data.estado}}</h5>
            </div>
          </div>
        </div>
      </form>
      <h4 class="my-4">Dimensiones del espacio</h4>
      <form class="form-wrapper">
        <div class="form-row">
          <div class="col-sm-12 col-md-6">
            <div class="form-group">
              <label class="my-6">Altura (mts)</label>
              <input @keyup='toggle_is_invalid($event)' type="number" class="form-control" placeholder="...">
              <!-- <input v-model="edit_espacio.caracteristicas_fisicas.alto" @keyup='toggle_is_invalid($event)' type="number" class="form-control" placeholder="..."> -->
              <div class="error" v-show="invalid.alto">
                Campo de alto requerido
              </div>
              <div class="error"  v-show="invalid.altoValue">
                valor no aceptado
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6">
            <div class="form-group">
              <label class="my-6">Base (mts)</label>
              <input @keyup='toggle_is_invalid($event)' type="number" class="form-control" placeholder="...">
              <!-- <input v-model="edit_espacio.caracteristicas_fisicas.ancho" @keyup='toggle_is_invalid($event)' type="number" class="form-control" placeholder="..."> -->
              <div class="error" v-show="invalid.ancho">
                Campo de ancho requerido
              </div>
              <div class="error" v-show="invalid.anchoValue">
                valor no aceptado
              </div>
            </div>
          </div>
        </div>
      </form>
      <h4 class="my-4">Especificaciones del espacio</h4>
      <form class="form-wrapper">
        <div class="form-row">
          <div class="col-sm-12 col-md-4">
            <div class="form-group">
              <label for="exampleFormControlSelect1">Tipo</label>
              <select class="form-control">
                <option v-for="option_tipos in tipos" v-bind:value="option_tipos.pk" v-bind:key="option_tipos.pk">{{option_tipos.designacion}}</option>
              </select>
              <div class="error" v-show="invalid.tipo">
                Campo de tipo requerido
              </div>
            </div>
          </div>
        </div>
      </form>
      <h4 class="my-4">Información adicional</h4>
      <form class="form-wrapper">
        <div class="form-row">
          <div class="col-sm-12 col-md-6">
             <textarea  class="form-control" rows="3"></textarea>
            <!-- <textarea v-model="edit_espacio.caracteristicas_fisicas.descripcion" class="form-control" rows="3"></textarea> -->
          </div>
        </div>
      </form>
      <div class="row submitrow form-wrapper mt-5">
        <div class="col-md-4 col-sm-5 col-12 mt-2">
          <button @click.prevent="PostEspacio" class="btn btn-secondary btn-block">Guardar</button>
        </div>
        <div class="col-md-4 col-sm-5 col 12 mt-2">
          <button @click.prevent="Regresar" class="btn btn-secondary btn-block">Regresar</button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="alert alert-success" role="alert" hidden>
            <strong>Trabajando</strong> {{ alert_message }}
          </div>
        </div>
      </div>
    </div>
     </div>
</template>
<script>
import Menu from '@/components/Menu'
import { mapState } from 'vuex'
import $ from 'jquery'

const google = window.google

export default {
  name: 'AsistenteEditEspacioInstitucional',
  components: {
    Menu
  },
  computed: {
    ...mapState({
      // giros: state => state.data_giros,
      tipos: state => state.data_tipos,
      // materiales: state => state.data_materiales,
      edit_espacio: state => state.edit_espacio,
      c_p: state => state.codigos_postales
    })
  },
  data () {
    return {
      alert_message: '',
      imageData: [],
      imageFile: [],
      data: [],
      update_foto: false,
      minValue: 0,
      maxValue: 100,
      marker: '',
      map: '',
      invalid: {
        imagen: false,
        nombre_espacio: false,
        alto: false,
        ancho: false,
        giro: false,
        tipo: false,
        material: false,
        altoValue: false,
        anchoValue: false
      }
    }
  },
  created () {
    this.data = this.$route.params.template
  },
  mounted () {
    this.initMap()
    this.pruebaFor()
    this.codigo_postal_api()
  },
  methods: {
    initMap () {
      var lt = 19.4023839
      var lg = -99.1466904
      var uluru = {lat: lt, lng: lg}
      // var uluru = {lat: Number(this.edit_espacio.geo_localidad.latitud), lng: Number(this.edit_espacio.geo_localidad.longitud)}
      this.map = new google.maps.Map(document.getElementById('map'), {
        center: uluru,
        zoom: 18
      })
      this.marker = new google.maps.Marker({
        position: uluru,
        draggable: true,
        map: this.map
      })
      // var instance = this
      // var marker = this.marker

      // google.maps.event.addListener(marker, 'dragend', function (marker) {
      //   instance.edit_espacio.geo_localidad.latitud = marker.latLng.lat()
      //   instance.edit_espacio.geo_localidad.longitud = marker.latLng.lng()
      // })

      // var map = this.map
      // google.maps.event.addListener(map, 'click', function (event) {
      //   var marker = event
      //   var Latlng = new google.maps.LatLng(marker.latLng.lat(), marker.latLng.lng())

      //   instance.marker.setPosition(Latlng)
      //   instance.map.setCenter(instance.marker.getPosition())
      //   instance.edit_espacio.geo_localidad.latitud = marker.latLng.lat()
      //   instance.edit_espacio.geo_localidad.longitud = marker.latLng.lng()
      // })
    },
    pruebaFor () {
      if (this.data.data.foto != null) {
        this.imageData = this.data.data.foto
      }
    },
    async codigo_postal_api () {
      let x = this.data.data.codigo_postal
      let num = x.toString()
      if (num.length === 4) {
        let cp = '0' + this.data.data.codigo_postal
        await this.$store.dispatch('codigoPostal', cp)
        if (this.c_p.estado.length > 0) {
          this.data.data.municipio = this.c_p.municipio
          this.data.data.estado = this.c_p.estado
        }
      }
    },
    previewImage (event) {
      // this.imageFile = this.$refs.file.files[0]
      this.imageFile.push(this.$refs.file.files[0])
      var input = event.target
      var instance = this
      if (input.files && input.files[0]) {
        var reader = new FileReader()
        reader.onload = function (e) {
          // instance.imageData = e.target.result
          instance.imageData.push(e.target.result)
        }
        reader.readAsDataURL(input.files[0])
      }
    },
    clearImageData (i) {
      // console.log(this.imageData[i])
      if (i !== -1) {
        this.imageData.splice(i, 1)
      }
      // this.imageData = ''
      // this.update_foto = true
    },
    toggle_is_invalid (event) {
      if (event.target.value === '') {
        $(event.target).addClass('is-invalid')
      }
      $(event.target).removeClass('is-invalid')
    },
    Regresar () {
      this.$router.push({name: 'Institucional'})
    },
    async PostEspacio () {
      if (this.edit_espacio.foto.length === 0) {
        this.invalid.imagen = true
        return false
      } else {
        this.invalid.imagen = false
      }
      if (!this.edit_espacio.geo_localidad.latitud) {
        this.espacio.latitud = 19.4023839
        this.espacio.longitud = -99.1466904
      }
      if (!this.edit_espacio.nombre) {
        this.invalid.nombre_espacio = true
        return false
      } else {
        this.invalid.nombre_espacio = false
      }
      if (!this.edit_espacio.caracteristicas_fisicas.alto) {
        this.invalid.alto = true
        return false
      } else {
        this.invalid.alto = false
      }
      if (!this.edit_espacio.caracteristicas_fisicas.ancho) {
        this.invalid.ancho = true
        return false
      } else {
        this.invalid.ancho = false
      }
      if (!this.edit_espacio.giro) {
        this.invalid.giro = true
        return false
      } else {
        this.invalid.giro = false
      }
      if (!this.edit_espacio.tipo) {
        this.invalid.tipo = true
        return false
      } else {
        this.invalid.tipo = false
      }
      if (!this.edit_espacio.caracteristicas_fisicas.material) {
        this.invalid.material = true
        return false
      } else {
        this.invalid.material = false
      }
      if (this.edit_espacio.caracteristicas_fisicas.alto <= this.minValue || this.edit_espacio.caracteristicas_fisicas.alto > this.maxValue) {
        this.invalid.altoValue = true
        return false
      } else {
        this.invalid.altoValue = false
      }
      if (this.edit_espacio.caracteristicas_fisicas.ancho < this.minValue || this.edit_espacio.caracteristicas_fisicas.ancho > this.maxValue) {
        this.invalid.anchoValue = true
        return false
      } else {
        this.invalid.anchoValue = false
      }
      this.alert_message = 'Guardando espacio'
      $('.alert')[0].hidden = false
      $('.submitrow')[0].hidden = true
      if (this.imageFile.length) {
        let formDataImage = new FormData()
        formDataImage.append('foto.src', this.imageFile)
        var imagen = {
          'pk': this.espacio.espacio,
          'data': formDataImage
        }
        await this.$store.dispatch('EspacioPatch', imagen)
      }
      let formData = new FormData()
      formData.append('pk', this.edit_espacio.pk)
      formData.append('nombre', this.edit_espacio.nombre)
      formData.append('geo_localidad.latitud', this.edit_espacio.geo_localidad.latitud)
      formData.append('geo_localidad.longitud', this.edit_espacio.geo_localidad.longitud)
      formData.append('giro', this.edit_espacio.giro)
      formData.append('tipo', this.edit_espacio.tipo)
      formData.append('caracteristicas_fisicas.alto', this.edit_espacio.caracteristicas_fisicas.alto)
      formData.append('caracteristicas_fisicas.ancho', this.edit_espacio.caracteristicas_fisicas.ancho)
      formData.append('caracteristicas_fisicas.digital', this.edit_espacio.caracteristicas_fisicas.digital)
      formData.append('caracteristicas_fisicas.descripcion', this.edit_espacio.caracteristicas_fisicas.descripcion)
      var data = {
        'pk': this.edit_espacio.pk,
        'data': formData
      }
      let formDataCaracteristisFisicas = new FormData()
      formDataCaracteristisFisicas.append('material', this.edit_espacio.caracteristicas_fisicas.material)
      var dataCaracteristicas = {
        'pk_caracteristicas': this.edit_espacio.caracteristicas_fisicas.pk,
        'data': formDataCaracteristisFisicas
      }
      await this.$store.dispatch('EspacioPatchCaracteristicas', dataCaracteristicas)
      await this.$store.dispatch('EspacioPatch', data)
      if (this.$route.params.data === 'Espacio') {
        this.$router.push({name: 'Espacio'})
      } else {
        if (this.$route.params.data === 'Propietario') {
          await this.$store.commit('RESET_TABLE_ESPACIOS')
          this.$router.push({name: 'PropietarioEdit', params: {data: 'Propietario'}})
        } else {
          if (this.$route.params.data === 'Espacio') {
            this.$router.push({name: 'PropietarioEdit', params: {data: 'Espacio'}})
          } else {
            this.$router.push({name: 'PropietarioEdit', params: {data: 'Local'}})
          }
        }
      }
    }
  }

}

</script>
