<template>
     <div>
       <Menu/>
       <div class="container">
      <h4 class="my-4">Fotografia</h4>
      <div class="text-center">
        <label v-if="imageData.length == 0" class="btn btn-picture">
          <i class="fas fa-camera fa-5x"></i>
          <input id="inputImage" type="file" ref="file" @change="previewImage" accept="image/*" capture="camera" style="display: none;">
        </label>
        <div class="image-preview" v-if="imageData">
          <div class="row">
            <div class="col-12">
              <img class="preview" :src="imageData">
            </div>
          </div>
          <div class="gab"></div>
          <div class="row">
            <div class="col-3"></div>
            <div class="col-3">
              <span>
                <a @click.prevent="clearImageData" href="#">
                  <i class="fas fa-trash-alt fa-2x"></i>
                </a>
              </span>
            </div>
            <div class="col-3">
              <span>
                <a @click.prevent="cancelar" href="#">
                  <i class="fas fa-reply fa-2x"></i>
                </a>
              </span>
            </div>
          </div>
        </div>
        <div class="row error">
            <div class="col"  v-show="invalid.imagen">
              Imagen requerida
            </div>
        </div>
      </div>
      <h4 class="my-4">Ubicación</h4>
      <div class="form-group">
        <div id="map"></div>
      </div>
      <form class="form-wrapper">
        <label class="my-6">Nombre del Local</label>
        <input v-model="edit_local.nombre_comercial" @keyup='toggle_is_invalid($event)'  type="text" class="form-control" placeholder="...">
        <div class="error" v-show="invalid.nombre_comercial">
              Campo de calle requerido
        </div>
      </form>
      <form class="form-wrapper">
        <div class="form-row">
          <div class="col-sm-12 col-md-4">
            <div class="form-group">
              <label for="exampleFormControlSelect1">Giro</label>
              <select v-model="edit_local.giro" class="form-control">
                <option v-for="option_giros in giros"   v-bind:value="option_giros.pk" v-bind:key="option_giros.pk">{{option_giros.designacion}}</option>
              </select>
              <div class="error" v-show="invalid.giro">
                Campo de Giro requerido
              </div>
            </div>
          </div>
        </div>
      </form>
      <h4>Direccion</h4>
      <form class="form-wrapper">
        <div class="form-row">
          <div class="col-sm-12 col-md-6">
            <div class="form-group">
              <label>Calle</label>
              <input v-model="edit_local.direccion.calle" @keyup='toggle_is_invalid($event)' type="text" class="form-control"  placeholder="...">
              <div class="error" v-show="invalid.calle">
              Campo de calle requerido
            </div>
            </div>
          </div>
          <div class="col-sm-4 col-md-2">
            <div class="form-group">
              <label>Numero Exterior</label>
              <input v-model="edit_local.direccion.numero_exterior" @keyup='toggle_is_invalid($event)' type="text" class="form-control"  placeholder="0">
              <div class="error" v-show="invalid.numero_exterior">
                Campo de numero exterior requerido
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-md-2">
            <div class="form-group">
              <label>Numero Interior</label>
              <input v-model="edit_local.direccion.numero_interior" type="text" class="form-control" placeholder="0">
            </div>
          </div>
          </div>
          <div class="form-row">
          <div class="col-sm-4 col-md-2">
            <div class="form-group">
              <label class="">Codigo Postal</label>
              <input  @change='codigo_postal_api' v-model="edit_local.direccion.codigo_postal" type="text" class="form-control" placeholder="..." required>
            </div>
            <div class="error" v-show="cp_invalido">
                Codigo Postal Invalido.
            </div>
            <div class="error" v-show="invalid.codigo_postal">
              Campo de codigo postal requerido
            </div>
          </div>
          <div class="col-sm-12 col-md-3">
            <div class="form-group">
              <label class="">Colonia</label>
              <select v-model="edit_local.direccion.colonia" class="form-control">
                <option v-for="options in c_p.colonias" v-bind:value="options" v-bind:key="options">{{options}}</option>
              </select>
              <div class="error" v-show="invalid.colonia">
                Campo de colonia requerido
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="form-group">
              <label class="">Municipio</label>
              <input v-model="municipio" type="text" class="form-control" placeholder="..." disabled>
            </div>
          </div>
          <div class="col-sm-12 col-md-3">
            <div class="form-group">
              <label class="">Estado</label>
              <input v-model="estado" type="text" class="form-control" placeholder="..." disabled>
            </div>
          </div>
         </div>
      </form>
      <div class="row">
        <div class="col">
          <div class="alert alert-success" role="alert" hidden>
            <strong>Trabajando</strong> {{ alert_message }}
          </div>
        </div>
      </div>
      <form class="form-wrapper">
        <div class="row submitrow">
          <div class="col-md-4 col-sm-5 col-12 mt-2">
            <button @click.prevent="PostLocal" class="btn btn-secondary btn-block">Guardar</button>
          </div>
          <div class="col-md-4 col-sm-5 col 12 mt-2">
            <button @click.prevent="Regresar" class="btn btn-secondary btn-block">Regresar</button>
          </div>
        </div>
      </form>
    </div>
     </div>
</template>

<script>
import Menu from '@/components/Menu'
import { mapGetters, mapState } from 'vuex'
import $ from 'jquery'

const google = window.google

export default {
  name: 'AsistenteEditLocal',
  components: {
    Menu
  },
  computed: {
    ...mapGetters({
    }),
    ...mapState({
      giros: state => state.data_giros,
      edit_local: state => state.edit_local,
      c_p: state => state.codigos_postales
    })
  },
  data () {
    return {
      alert_message: '',
      imageData: '',
      update_foto: false,
      municipio: '',
      estado: '',
      invalid: {
        imagen: false,
        nombre_comercial: false,
        calle: false,
        numero_exterior: false,
        colonia: false,
        codigo_postal: false
      },
      cp_invalido: false
    }
  },
  mounted () {
    this.initMap()
    this.codigo_postal_api()
  },
  methods: {
    previewImage (event) {
      this.imageFile = this.$refs.file.files[0]
      var input = event.target
      var instance = this
      if (input.files && input.files[0]) {
        var reader = new FileReader()
        reader.onload = function (e) {
          instance.imageData = e.target.result
        }
        reader.readAsDataURL(input.files[0])
      }
    },
    clearImageData () {
      this.imageData = ''
      this.update_foto = true
    },
    toggle_is_invalid (event) {
      if (event.target.value === '') {
        $(event.target).addClass('is-invalid')
      }
      $(event.target).removeClass('is-invalid')
    },
    async PostLocal () {
      if (this.imageData.length === 0) {
        this.invalid.imagen = true
        return false
      } else {
        this.invalid.imagen = false
      }
      if (this.edit_local.geo_localidad.latitud === 0) {
        alert('SE AGREGARA LA UBICACION POR DEFAULT')
        this.edit_local.geo_localidad.latitud = 19.4023839
        this.edit_local.geo_localidad.longitud = -99.1466904
      }
      if (!this.edit_local.nombre_comercial) {
        this.invalid.nombre_comercial = true
        return false
      } else {
        this.invalid.nombre_comercial = false
      }
      if (!this.edit_local.direccion.calle) {
        this.invalid.calle = true
        return false
      } else {
        this.invalid.calle = false
      }
      if (!this.edit_local.direccion.numero_exterior) {
        this.invalid.numero_exterior = true
        return false
      }
      if (!this.edit_local.direccion.codigo_postal) {
        this.invalid.codigo_postal = true
        return false
      } else {
        this.invalid.codigo_postal = false
      }
      if (!this.edit_local.direccion.colonia) {
        this.invalid.colonia = true
        return false
      } else {
        this.invalid.colonia = false
      }
      this.alert_message = 'Guardar Local'
      $('.alert')[0].hidden = false
      $('.submitrow')[0].hidden = true
      let formData = new FormData()
      formData.append('pk', this.edit_local.pk)
      formData.append('nombre_comercial', this.edit_local.nombre_comercial)
      formData.append('espacio_tipo', this.edit_local.espacio_tipo)
      formData.append('geo_localidad.latitud', this.edit_local.geo_localidad.latitud)
      formData.append('geo_localidad.longitud', this.edit_local.geo_localidad.longitud)
      formData.append('direccion.calle', this.edit_local.direccion.calle)
      formData.append('direccion.numero_exterior', this.edit_local.direccion.numero_exterior)
      formData.append('direccion.numero_interior', this.edit_local.direccion.numero_interior)
      formData.append('direccion.colonia', this.edit_local.direccion.colonia)
      formData.append('direccion.municipio', this.edit_local.direccion.municipio)
      formData.append('direccion.codigo_postal', this.edit_local.direccion.codigo_postal)
      formData.append('direccion.estado', this.edit_local.direccion.estado)
      formData.append('giro', this.edit_local.giro)
      var data2 = {
        'pk': this.edit_local.pk,
        'data': formData
      }
      await this.$store.dispatch('LocalPost', data2)
      if (this.imageFile) {
        let formDataImagen = new FormData()
        formDataImagen.append('pk', this.edit_local.pk)
        formDataImagen.append('nombre_comercial', this.edit_local.nombre_comercial)
        formDataImagen.append('foto.src', this.imageFile)
        var imagen = {
          'pk': this.edit_local.pk,
          'data': formDataImagen
        }
        await this.$store.dispatch('LocalPostImagen', imagen)
      }
      if (this.$route.params.data === 'Local') {
        await this.$store.commit('RESET_TABLE_LOCAL')
        this.$router.push({name: 'Local'})
      } else {
        if (this.$route.params.data === 'Propietario') {
          await this.$store.commit('RESET_TABLE_LOCAL')
          this.$router.push({name: 'PropietarioEdit', params: {data: 'Propietario'}})
        } else if (this.$route.params.data === 'Local_extra') {
          await this.$store.commit('RESET_TABLE_LOCAL_EXTRA')
          this.$router.push({name: 'Extras'})
        } else {
          this.$router.push({name: 'PropietarioEdit', params: {data: 'Espacio'}})
        }
      }
    },
    Regresar () {
      if (this.$route.params.data === 'Local') {
        this.$router.push({name: 'Local'})
      } else {
        if (this.$route.params.data === 'Propietario') {
          this.$router.push({name: 'PropietarioEdit', params: {data: 'Propietario'}})
        } else if (this.$route.params.data === 'Local_extra') {
          this.$router.push({name: 'Extras'})
        } else {
          this.$router.push({name: 'PropietarioEdit', params: {data: 'Espacio'}})
        }
      }
    },
    async codigo_postal_api () {
      if (this.edit_local.direccion.codigo_postal.length === 5) {
        await this.$store.dispatch('codigoPostal', this.edit_local.direccion.codigo_postal)
        if (this.c_p.estado.length > 0) {
          this.cp_invalido = false
          this.municipio = this.c_p.municipio
          this.estado = this.c_p.estado
          this.edit_local.direccion.estado = this.c_p.estado
          this.edit_local.direccion.municipio = this.c_p.municipio
        } else {
          this.cp_invalido = true
        }
      }
    },
    initMap () {
      if (this.edit_local.foto.src != null) {
        this.imageData = this.edit_local.foto.src
      }
      var uluru = {lat: Number(this.edit_local.geo_localidad.latitud), lng: Number(this.edit_local.geo_localidad.longitud)}
      this.map = new google.maps.Map(document.getElementById('map'), {
        center: uluru,
        zoom: 18
      })
      this.marker = new google.maps.Marker({
        position: uluru,
        draggable: true,
        map: this.map
      })
      var instance = this
      var marker = this.marker

      google.maps.event.addListener(marker, 'dragend', function (marker) {
        instance.edit_local.geo_localidad.latitud = marker.latLng.lat()
        instance.edit_local.geo_localidad.longitud = marker.latLng.lng()
      })

      var map = this.map
      google.maps.event.addListener(map, 'click', function (event) {
        var marker = event
        var Latlng = new google.maps.LatLng(marker.latLng.lat(), marker.latLng.lng())

        instance.marker.setPosition(Latlng)
        instance.map.setCenter(instance.marker.getPosition())
        instance.edit_local.geo_localidad.latitud = marker.latLng.lat()
        instance.edit_local.geo_localidad.longitud = marker.latLng.lng()
      })
    }
  }

}

</script>
