<template>
  <div>
    <div class="container">
      <v-client-table :data="espacios_row" :columns="columns_espacios" :options="table_options">
        <template slot="pk" slot-scope="props">
          <div id="espacio">
            <a @click.prevent="editarEspacio(props.row.pk)" href="#">
              {{props.row.pk}}
            </a>
             <a class="ml-4" href="#" v-on:click="delete_espacio(props.row.pk)">Eliminar <i class="far fa-trash-alt"></i></a>
          </div>
        </template>
        <template slot="propietario" slot-scope="props">
          <a @click.prevent="editarPropietario(props.row.propietario)" href="#">{{props.row.propietario}}</a>
        </template>
        <template slot="giro" slot-scope="props">
          {{giros.find(pk => pk.pk === props.row.giro).designacion}}
        </template>
        <template slot="fecha_de_registro" slot-scope="props">
          {{moment(props.row.fecha_de_actualizacion).format('YYYY-MM-DD')}}
        </template>
        <template slot="foto" slot-scope="props">
          <div>
            <img @load="rotate_on_load($event)" v-bind:src="props.row.foto" alt="" type="submit" class="img-thumbnail" style="width: 170px; height: 120px;">
          </div>
        </template>
      </v-client-table>
    </div>
  </div>
</template>
<script>
import { mapState } from 'vuex'
import options from '@/store/options'

const EXIF = window.EXIF

export default {
  name: 'TablaEspacio',
  computed: {
    ...mapState({
      giros: state => state.data_giros,
      propietarios: state => state.data_propietarios,
      espacios_row: state => state.data_espacios.results
    })
  },
  mounted () {
  },
  data () {
    return {
      theme: 'bootstrap4',
      columns_espacios: [
        'pk',
        'propietario',
        'nombre',
        'giro',
        'fecha_de_registro',
        'foto'
      ],
      table_options: options.table_options
    }
  },
  methods: {
    async editarEspacio (pk) {
      await this.$store.dispatch('asistenteEditarEspacio', pk)
      this.$router.push({name: 'EspacioEdit', params: {data: 'Espacio'}})
    },
    async editarPropietario (k) {
      await this.$store.dispatch('asistentePropietario', k)
      this.$router.push({name: 'PropietarioEdit', params: {data: 'Espacio'}})
    },
    delete_espacio (pkEspacio) {
      console.log(pkEspacio)
    },
    rotate_on_load ($event) {
      this.set_rotation($event.target, 0)
    },
    set_rotation (img, tag) {
      var instance = this

      getExif(img, tag)

      function getExif (img, tag) {
        var CeroGrados = 'rotate0'
        var NoventaGrados = 'rotate90'
        var CientoOchentaGrados = 'rotate180'

        EXIF.getData(img, function () {
          var Orientation = EXIF.getTag(this, 'Orientation')
          // console.log(Orientation)
          var arr = img.className.split(' ')
          if (Orientation) {
            if (Orientation === 6) {
              if (arr.indexOf(NoventaGrados) === -1) {
                if (tag === 0) {
                  img.className += ' ' + NoventaGrados
                } else if (tag === 1) {
                  instance.imgClass.rotate90 = true
                }
              }
            } else if (Orientation === 1) {
              if (arr.indexOf(CeroGrados) === -1) {
                if (tag === 0) {
                  img.className += ' ' + CeroGrados
                } else if (tag === 1) {
                  instance.imgClass.rotate0 = true
                }
              }
            } else {
              if (arr.indexOf(CientoOchentaGrados) === -1) {
                if (tag === 0) {
                  img.className += ' ' + CientoOchentaGrados
                } else if (tag === 1) {
                  instance.imgClass.rotate180 = true
                }
              }
            }
          } else {
            if (arr.indexOf(CeroGrados) === -1) {
              if (tag === 0) {
                img.className += ' ' + CeroGrados
              } else if (tag === 1) {
                instance.imgClass.rotate0 = true
              }
            }
          }
        })
      }
    }
  }
}
</script>
