<template>
  <div>
    <Menu/>
    <div class="mt-5 container">
      <form class="form-wrapper">
        <div class="form-row">
          <div class="col-sm-12 col-md-2">
            <div class="form-group">
              <label class="my-6">Buscar por Pk:</label>
              <input v-model="search.pk" type="text" class="form-control">
            </div>
          </div>
          <!-- <div class="col-sm-12 col-md-3">
            <div class="form-group">
              <label class="my-6">Buscar por Promotor:</label>
              <input v-model="search.promotor" type="text" class="form-control" placeholder="Iveth Rosales">
            </div>
          </div>
          <div class="col-sm-12 col-md-3">
            <div class="form-group">
              <label class="my-6">Buscar por Usuario:</label>
              <input v-model="search.usuario" type="text" class="form-control" placeholder="Dica654">
            </div>
          </div>
          <div class="col-sm-12 col-md-3">
            <div class="form-group">
              <label class="my-6">Buscar por Propietario:</label>
              <input v-model="search.propietario" type="text" class="form-control" placeholder="Leonel Tinoco">
            </div>
          </div> -->
        </div>
        <button @click.prevent="searchPropietario" class="btn btn-secondary btn-block">Filtrar</button>
      </form>
      <div class="row" v-if="propietarios_count > 0">
        <div class="col-md-12">
           <Paginator  :next="propietarios_next" :previous="propietarios_previous" :count="propietarios_count" @handleEvent='paginatorEvent'/>
        </div>
      </div>
    </div>
    <AsistenteTablaPropietario v-if="propietarios"/>
  </div>
</template>
<script>
import { mapState } from 'vuex'
import Menu from '@/components/Menu'
import AsistenteTablaPropietario from '@/components/AsistenteTablaPropietario'
import Paginator from '@/components/Paginator'

export default {
  name: 'AsistentePropietario',
  components: {
    Menu,
    AsistenteTablaPropietario,
    Paginator
  },
  computed: {
    ...mapState({
      propietarios: state => state.data_propietarios.results,
      propietarios_count: state => state.data_propietarios.count,
      propietarios_next: state => state.data_propietarios.next,
      propietarios_previous: state => state.data_propietarios.previous
    })
  },
  mounted () {
  },
  data () {
    return {
      search: {
        'pk': '',
        'promotor': '',
        'usuario': '',
        'propietario': ''
      }
    }
  },
  methods: {
    async searchPropietario () {
      await this.$store.commit('RESET_TABLE_PROPIETARIOS')
      var search = '?'
      if (!this.search.pk > 0 && !this.search.promotor.length > 0 && !this.search.usuario.length > 0 && !this.search.propietario.length > 0) {
        await this.$store.dispatch('searchPropietarios', search)
      } else {
        if (this.search.pk > 0) {
          search = search + 'pk=' + this.search.pk
          await this.$store.dispatch('searchPropietarios', search)
        }
        // else {
        //   if (this.search.promotor.length > 0) {
        //     search = search + '&promotor=' + this.search.promotor
        //   }
        //   if (this.search.usuario.length > 0) {
        //     search = search + '&usuario=' + this.search.usuario
        //   }
        //   if (this.search.propietario.length > 0) {
        //     search = search + '&propietario=' + this.search.propietario
        //   }
        //   await this.$store.dispatch('searchPropietarios', search)
        // }
      }
    },
    async paginatorEvent (event) {
      if (event === 'next') {
        await this.$store.dispatch('asistentePropietarios', this.propietarios_next)
      } else if (event === 'previous') {
        await this.$store.dispatch('asistentePropietarios', this.propietarios_previous)
      }
    }
  }
}
</script>
