<template>
    <div>
        <div class="container">
          <div class="row">
            <div class="col">
            <v-client-table :data="$store.state.data_promotores" :columns="columns" :options="options">
              <template slot="promotor" slot-scope="props">
                 <!-- <a href="#">
                  <b>+</b>
                  </a> -->
                  {{props.row.primer_nombre + ' ' + props.row.apellido_paterno}}
              </template>
              <template slot="promociones" slot-scope="props">
                <div class="ancho_table">
                <span class="badge badge-secondary">
                  {{props.row.promociones[0]}}
                </span>
                <span class="badge green-badge-secondary">
                  {{props.row.promociones[1]}}
                </span>
                <span class="badge red-badge-secondary">
                  {{props.row.promociones[0] - props.row.promociones[1]}}
                </span>
                <span class="badge badge-secondary">
                  {{props.row.promociones[2]}}
                </span>
                </div>
              </template>
              <!-- <template slot="email" slot-scope="props">
                <a @click.prevent="sendMail(props.row.email)" href="#">
                  <span class="far fa-envelope"></span>
                </a>
              </template>
              <template slot="telefono" slot-scope="props">
                <a @click.prevent="callPhone(props.row.telefono)" href="#">
                  <span class="fas fa-mobile-alt"></span>
                </a>
              </template> -->
            </v-client-table>
              </div>
              <div class="col"></div>
            </div>
          </div>
    </div>
</template>
<script>
import Vue from 'vue'
import {ClientTable} from 'vue-tables-2'

Vue.use(ClientTable)

export default {
  name: 'TablaPromotor',

  computed: {
  },
  mounted () {},
  data () {
    return {
      columns: [
        'promotor',
        'promociones',
        'email',
        'telefono'
      ],
      rows: [],
      options: {
        headings: {
          'promotor': 'Promotor'
        },
        filterByColumn: true,
        filterable: [
          'promotor'
        ],
        sortable: [
          'promotor'
        ],
        sortIcon: {
          is: 'fas fa-arrows-alt-v',
          up: 'fas fa-sort-amount-up',
          down: 'fas fa-sort-amount-down'
        },
        pagination: {
          chunk: 25,
          dropdown: true,
          esdge: true
        },
        perPage: 15,
        perPageValues: [15, 25, 50, 100, 200, 1000]
      }
    }
  },
  methods: {
    // sendMail (email) {
    //   window.location.href = 'mailto:' + email
    // },
    // callPhone (telefono) {
    //   window.location.href = 'tel:+52' + telefono
    // }
  }
}
</script>
<style scoped>
</style>
