<template>
    <div>
        <div class="container">
            <h1>Tabla Propietarios</h1>
              <v-client-table :data="propietariosState" :columns="columns_propietarios" :options="options_propietarios">
                <template slot="pk" slot-scope="props">
                  <div id="propietario">
                  <a @click.prevent="editarPropietario(props.row.pk)" href="#">
                    {{props.row.pk}}
                  </a>
                  <a class="ml-4" href="#" v-on:click="delete_propietario(props.row.pk)">Eliminar <i class="far fa-trash-alt"></i></a>
                  </div>
                </template>
                <template slot="promotor" slot-scope="props">
                  {{props.row.promotor.datos_personales.primer_nombre + ' ' + props.row.promotor.datos_personales.apellido_paterno}}
                </template>
                <template slot="datos_personales" slot-scope="props">
                  {{props.row.datos_personales.primer_nombre + ' ' + props.row.datos_personales.apellido_paterno}}
                </template>
                <template slot="fecha_de_registro" slot-scope="props">
                  {{moment(props.row.fecha_de_actualizacion).format('YYYY-MM-DD')}}
                </template>
              </v-client-table>
        </div>
    </div>
</template>
<script>
import { mapState } from 'vuex'
window.moment = require('moment')
const moment = require('moment')

export default {
  name: 'TablaPropietario',
  computed: {
    ...mapState({
      propietariosState: state => state.data_propietarios.results
    })
  },
  mounted () {
  },
  data () {
    return {
      theme: 'bootstrap4',
      columns_propietarios: [
        'pk',
        'usuario',
        'promotor',
        'datos_personales',
        'estatus', 'check_bancarios',
        'fecha_de_registro'
      ],
      rows_propietarios: [],
      options_propietarios: {
        headings: {
          'usuarios': 'Username',
          'promotor': 'Nombre del Promotor',
          'datos_personales': 'Nombre Propietario',
          'check_bancarios': 'Estados Bancario',
          'fecha_de_registro': 'Fecha de Registro'
        },
        headingsTooltips: {
          'username': 'Filtrar por nombre'
        },
        texts: {
          filter: '',
          filterBy: '{column}'
        },
        dateFormat: 'DD-MM-YYYY',
        dateColumns: ['fecha_de_registro'],
        toMomentFormat: true,
        datepickerOptions: {
          autoUpdateInput: true,
          autoApply: true,
          expanded: true,
          showDropdowns: true,
          opens: 'center',
          drops: 'down',
          locale: {
            cancelLabel: 'Cancelar',
            applyLabel: 'Seleccionar'
          },
          timeZone: null,
          firstDayOfWeek: 1,
          startDate: moment().startOf('year'),
          endDate: moment(),
          ranges: {
            'Hoy': [moment(), moment()],
            'Ayer': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            'Ultimos 7 dias': [moment().subtract(6, 'days'), moment()],
            'Ultimos 30 dias': [moment().subtract(29, 'days'), moment()],
            'Este mes': [moment().startOf('month'), moment().endOf('month')],
            'Mes anterior': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
            'Este año': [moment().startOf('year'), moment()],
            'Año anterior': [moment().subtract(1, 'year').startOf('year'), moment().subtract(1, 'year').endOf('year')]
          }
        },
        filterByColumn: true,
        filterable: [
          'pk',
          'usuario',
          'promotor',
          'datos_personales',
          'fecha_de_registro',
          'estatus',
          'check_bancarios'
        ],
        sortable: [
          'usuario'
        ],
        listColumns: {
          estatus: [{
            id: '',
            text: '...'
          },
          {
            id: 'P',
            text: 'P'
          },
          {
            id: 'I',
            text: 'I'
          },
          {
            id: 'R',
            text: 'R'
          }],
          estatus_bancario: [{
            id: '',
            text: '...'
          },
          {
            id: 'IE',
            text: 'IE'
          },
          {
            id: 'ID',
            text: 'ID'
          },
          {
            id: 'OK',
            text: 'OK'
          }]
        },
        childRowTogglerFirst: false,
        pagination: {
          chunk: 35,
          dropdown: true,
          esdge: true
        },
        sortIcon: {
          is: 'fas fa-arrows-alt-v',
          up: 'fas fa-sort-amount-up',
          down: 'fas fa-sort-amount-down'
        },
        highlightMatches: true,
        perPage: 15,
        perPageValues: [15, 50, 100, 200, 1000, 2000]
      }
    }
  },
  methods: {
    async editarPropietario (k) {
      await this.$store.dispatch('asistentePropietario', k)
      this.$router.push({name: 'PropietarioEdit', params: {data: 'Propietario'}})
    },
    async delete_propietario (pkPropietario) {
      console.log(pkPropietario)
    }
  }
}
</script>
<style scoped>

</style>
