<template>
  <div>
    <Menu/>
    <Datos/>
    <!-- <Botones/> -->
    <!-- <br><br> -->
    <AsistenteTablaPromotor/>
  </div>
</template>
<script>
import Botones from '@/components/Botones'
import Menu from '@/components/Menu'
import Datos from '@/components/Datos'
import AsistenteTablaPromotor from '@/components/AsistenteTablaPromotor'
import { mapState } from 'vuex'

export default {
  name: 'AsistentePromotores',
  components: {
    Botones,
    Menu,
    Datos,
    AsistenteTablaPromotor
  },
  computed: {
    ...mapState({
      promotores: state => state.data_promotores
    })
  },
  mounted () {
    if (this.promotores.length > 0) {
    } else {
      this.set_asistente_data()
    }
  },
  data () {
    return {
    }
  },
  methods: {
    async set_asistente_data () {
      await this.$store.dispatch('asistenteData')
    }
  }
}
</script>

<!-- Componente specific css atributes -->
<style scoped>

</style>
