<template>
    <div>
    <Menu/>
    <div class="container">
      <h4 class="my-4">Fotografía</h4>
      <div class="text-center">
        <label v-if="imageData.length == 0" class="btn btn-picture">
          <i class="fas fa-camera fa-5x"></i>
          <input id="inputImage" type="file" ref="file" @change="previewImage" accept="image/*" capture="camera" style="display: none;"/>
        </label>
        <div class="image-preview" v-if="imageData">
          <div class="row">
            <div class="col-12">
              <img class="preview" :src="imageData">
            </div>
          </div>
          <div class="gap">
          </div>
          <div class="row">
            <div class="col-3">
            </div>
            <div class="col-3">
              <span>
                <a @click.prevent="clearImageData" href="#">
                  <i class="fas fa-trash-alt fa-2x"></i>
                </a>
              </span>
            </div>
            <div class="col-3">
              <span>
                <a @click.prevent="cancelar" href="#">
                  <i class="fas fa-reply fa-2x"></i>
                </a>
              </span>
            </div>
          </div>
        </div>
        <div class="row error">
            <div class="col"  v-show="invalid.imagen">
              Imagen requerida
            </div>
        </div>
      </div>
      <h4 class="my-4">Ubicación</h4>
      <div class="form-group">
        <div id="map"></div>
      </div>
      <form class="form-wrapper">
        <label class="my-6">Nombre del espacio</label>
        <input v-model="edit_espacio.nombre" @keyup='toggle_is_invalid($event)' type="text" class="form-control" placeholder="...">
        <div class="error" v-show="invalid.nombre_espacio">
          Nombre del espacio requerido
        </div>
      </form>
      <h4 class="my-4">Dimensiones del espacio</h4>
      <form class="form-wrapper">
        <div class="form-row">
          <div class="col-sm-12 col-md-6">
            <div class="form-group">
              <label class="my-6">Alto (mts)</label>
              <input v-model="edit_espacio.caracteristicas_fisicas.alto" @keyup='toggle_is_invalid($event)' type="number" class="form-control" placeholder="..." step="any">
              <div class="error" v-show="invalid.alto">
                Campo de alto requerido
              </div>
              <div class="error"  v-show="invalid.altoValue">
                valor no aceptado
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6">
            <div class="form-group">
              <label class="my-6">Ancho (mts)</label>
              <input v-model="edit_espacio.caracteristicas_fisicas.ancho" @keyup='toggle_is_invalid($event)' type="number" class="form-control" placeholder="..." step="any">
              <div class="error" v-show="invalid.ancho">
                Campo de ancho requerido
              </div>
              <div class="error" v-show="invalid.anchoValue">
                valor no aceptado
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <label class="my-12"></label>
          <input v-model="edit_espacio.caracteristicas_fisicas.digital" type="checkbox"> DIGITAL (sin checar = NO)
        </div>
      </form>
      <h4 class="my-4">Especificaciones del espacio</h4>
      <form class="form-wrapper">
        <div class="form-row">
          <div class="col-sm-12 col-md-4">
            <div class="form-group">
              <label for="exampleFormControlSelect1">Giro</label>
              <select v-model="edit_espacio.giro" class="form-control">
                <option v-for="option_giros in giros"   v-bind:value="option_giros.pk" v-bind:key="option_giros.pk">{{option_giros.designacion}}</option>
              </select>
              <div class="error" v-show="invalid.giro">
                Campo de Giro requerido
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="form-group">
              <label for="exampleFormControlSelect1">Tipo</label>
              <select v-model="edit_espacio.tipo" class="form-control">
                <option v-for="option_tipos in tipos" v-bind:value="option_tipos.pk" v-bind:key="option_tipos.pk">{{option_tipos.designacion}}</option>
              </select>
              <div class="error" v-show="invalid.tipo">
                Campo de tipo requerido
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="form-group">
              <label for="exampleFormControlSelect1">Material:</label>
              <select v-model="edit_espacio.caracteristicas_fisicas.material" class="form-control">
                <option v-for="option_materiales in materiales" v-bind:value="option_materiales.pk" v-bind:key="option_materiales.pk">{{option_materiales.designacion}}</option>
              </select>
              <div class="error" v-show="invalid.material">
                Campo de material requerido
              </div>
            </div>
          </div>
        </div>
      </form>
      <h4 class="my-4">Información adicional</h4>
      <form class="form-wrapper">
        <div class="form-row">
          <div class="col-sm-12 col-md-6">
            <textarea v-model="edit_espacio.caracteristicas_fisicas.descripcion" class="form-control" rows="3"></textarea>
          </div>
        </div>
      </form>
      <div class="row submitrow form-wrapper mt-5">
        <div class="col-md-4 col-sm-5 col-12 mt-2">
          <button @click.prevent="PostEspacio" class="btn btn-secondary btn-block">Guardar</button>
        </div>
        <div class="col-md-4 col-sm-5 col 12 mt-2">
          <button @click.prevent="Regresar" class="btn btn-secondary btn-block">Regresar</button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="alert alert-success" role="alert" hidden>
            <strong>Trabajando</strong> {{ alert_message }}
          </div>
        </div>
      </div>
    </div>
     </div>
</template>
<script>
import Menu from '@/components/Menu'
import { mapState } from 'vuex'
import $ from 'jquery'

const google = window.google

export default {
  name: 'AsistenteEditEspacio',
  components: {
    Menu
  },
  computed: {
    ...mapState({
      giros: state => state.data_giros,
      tipos: state => state.data_tipos,
      materiales: state => state.data_materiales,
      edit_espacio: state => state.edit_espacio
    })
  },
  data () {
    return {
      alert_message: '',
      imageData: '',
      update_foto: false,
      minValue: 0,
      maxValue: 100,
      marker: '',
      map: '',
      invalid: {
        imagen: false,
        nombre_espacio: false,
        alto: false,
        ancho: false,
        giro: false,
        tipo: false,
        material: false,
        altoValue: false,
        anchoValue: false
      }
    }
  },
  mounted () {
    this.initMap()
  },
  methods: {
    initMap () {
      if (this.edit_espacio.foto != null) {
        this.imageData = this.edit_espacio.foto
      }
      var uluru = {lat: Number(this.edit_espacio.geo_localidad.latitud), lng: Number(this.edit_espacio.geo_localidad.longitud)}
      this.map = new google.maps.Map(document.getElementById('map'), {
        center: uluru,
        zoom: 18
      })
      this.marker = new google.maps.Marker({
        position: uluru,
        draggable: true,
        map: this.map
      })
      var instance = this
      var marker = this.marker

      google.maps.event.addListener(marker, 'dragend', function (marker) {
        instance.edit_espacio.geo_localidad.latitud = marker.latLng.lat()
        instance.edit_espacio.geo_localidad.longitud = marker.latLng.lng()
      })

      var map = this.map
      google.maps.event.addListener(map, 'click', function (event) {
        var marker = event
        var Latlng = new google.maps.LatLng(marker.latLng.lat(), marker.latLng.lng())

        instance.marker.setPosition(Latlng)
        instance.map.setCenter(instance.marker.getPosition())
        instance.edit_espacio.geo_localidad.latitud = marker.latLng.lat()
        instance.edit_espacio.geo_localidad.longitud = marker.latLng.lng()
      })
    },
    previewImage (event) {
      this.imageFile = this.$refs.file.files[0]
      var input = event.target
      var instance = this
      if (input.files && input.files[0]) {
        var reader = new FileReader()
        reader.onload = function (e) {
          instance.imageData = e.target.result
        }
        reader.readAsDataURL(input.files[0])
      }
    },
    clearImageData () {
      this.imageData = ''
      this.update_foto = true
    },
    toggle_is_invalid (event) {
      if (event.target.value === '') {
        $(event.target).addClass('is-invalid')
      }
      $(event.target).removeClass('is-invalid')
    },
    Regresar () {
      if (this.$route.params.data === 'Espacio') {
        this.$router.push({name: 'Espacio'})
      } else {
        if (this.$route.params.data === 'Propietario') {
          this.$router.push({name: 'PropietarioEdit', params: {data: 'Propietario'}})
        } else {
          if (this.$route.params.data === 'Espacio') {
            this.$router.push({name: 'PropietarioEdit', params: {data: 'Espacio'}})
          } else {
            this.$router.push({name: 'PropietarioEdit', params: {data: 'Local'}})
          }
        }
      }
    },
    async PostEspacio () {
      if (this.imageData.length === 0) {
        this.invalid.imagen = true
        return false
      } else {
        this.invalid.imagen = false
      }
      if (!this.edit_espacio.geo_localidad.latitud) {
        this.espacio.latitud = 19.4023839
        this.espacio.longitud = -99.1466904
      }
      if (!this.edit_espacio.nombre) {
        this.invalid.nombre_espacio = true
        return false
      } else {
        this.invalid.nombre_espacio = false
      }
      if (!this.edit_espacio.caracteristicas_fisicas.alto) {
        this.invalid.alto = true
        return false
      } else {
        this.invalid.alto = false
      }
      if (!this.edit_espacio.caracteristicas_fisicas.ancho) {
        this.invalid.ancho = true
        return false
      } else {
        this.invalid.ancho = false
      }
      if (!this.edit_espacio.giro) {
        this.invalid.giro = true
        return false
      } else {
        this.invalid.giro = false
      }
      if (!this.edit_espacio.tipo) {
        this.invalid.tipo = true
        return false
      } else {
        this.invalid.tipo = false
      }
      if (!this.edit_espacio.caracteristicas_fisicas.material) {
        this.invalid.material = true
        return false
      } else {
        this.invalid.material = false
      }
      if (this.edit_espacio.caracteristicas_fisicas.alto <= this.minValue || this.edit_espacio.caracteristicas_fisicas.alto > this.maxValue) {
        this.invalid.altoValue = true
        return false
      } else {
        this.invalid.altoValue = false
      }
      if (this.edit_espacio.caracteristicas_fisicas.ancho < this.minValue || this.edit_espacio.caracteristicas_fisicas.ancho > this.maxValue) {
        this.invalid.anchoValue = true
        return false
      } else {
        this.invalid.anchoValue = false
      }
      this.alert_message = 'Guardando espacio'
      $('.alert')[0].hidden = false
      $('.submitrow')[0].hidden = true
      if (this.imageFile) {
        let formDataImage = new FormData()
        formDataImage.append('foto.src', this.imageFile)
        var imagen = {
          // 'pk': this.espacio.espacio,
          'pk': this.edit_espacio.pk,
          'data': formDataImage
        }
        await this.$store.dispatch('EspacioPatch', imagen)
      }
      let formData = new FormData()
      formData.append('pk', this.edit_espacio.pk)
      formData.append('nombre', this.edit_espacio.nombre)
      formData.append('geo_localidad.latitud', this.edit_espacio.geo_localidad.latitud)
      formData.append('geo_localidad.longitud', this.edit_espacio.geo_localidad.longitud)
      formData.append('giro', this.edit_espacio.giro)
      formData.append('tipo', this.edit_espacio.tipo)
      formData.append('caracteristicas_fisicas.alto', this.edit_espacio.caracteristicas_fisicas.alto)
      formData.append('caracteristicas_fisicas.ancho', this.edit_espacio.caracteristicas_fisicas.ancho)
      formData.append('caracteristicas_fisicas.digital', this.edit_espacio.caracteristicas_fisicas.digital)
      formData.append('caracteristicas_fisicas.descripcion', this.edit_espacio.caracteristicas_fisicas.descripcion)
      var data = {
        'pk': this.edit_espacio.pk,
        'data': formData
      }
      let formDataCaracteristisFisicas = new FormData()
      formDataCaracteristisFisicas.append('material', this.edit_espacio.caracteristicas_fisicas.material)
      var dataCaracteristicas = {
        'pk_caracteristicas': this.edit_espacio.caracteristicas_fisicas.pk,
        'data': formDataCaracteristisFisicas
      }
      await this.$store.dispatch('EspacioPatchCaracteristicas', dataCaracteristicas)
      await this.$store.dispatch('EspacioPatch', data)
      if (this.$route.params.data === 'Espacio') {
        this.$router.push({name: 'Espacio'})
      } else {
        if (this.$route.params.data === 'Propietario') {
          await this.$store.commit('RESET_TABLE_ESPACIOS')
          this.$router.push({name: 'PropietarioEdit', params: {data: 'Propietario'}})
        } else {
          if (this.$route.params.data === 'Espacio') {
            this.$router.push({name: 'PropietarioEdit', params: {data: 'Espacio'}})
          } else {
            this.$router.push({name: 'PropietarioEdit', params: {data: 'Local'}})
          }
        }
      }
    }
  }

}

</script>
