<template>
  <div>
    <Menu/>
    <div class="container">
      <form class="form-wrapper">
        <div class="form-row">
          <div class="col-sm-12 col-md-3">
            <div class="form-group">
              <label class="my-6">Buscar por pk:</label>
              <input v-model="search.pk"  type="text" class="form-control">
            </div>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="form-group">
              <label class="my-6">Buscar por Codigo postal:</label>
              <input v-model="search.codigo_postal" type="text" class="form-control">
            </div>
          </div>
        </div>
        <button @click.prevent="searchLocales" class="btn btn-secondary btn-block">Filtrar</button>
      </form>
    </div>
    <div class="mt-5 container">
      <div class="row" v-if="locales_count > 0">
        <div class="col-md-12">
           <Paginator  :next="locales_next" :previous="locales_previous" :count="locales_count" @handleEvent='paginatorEvent'/>
        </div>
      </div>
    </div>
    <AsistenteTablaLocal v-if="locales"/>
  </div>
</template>
<script>
import { mapState } from 'vuex'
import Menu from '@/components/Menu'
import AsistenteTablaLocal from '@/components/AsistenteTablaLocal'
import Paginator from '@/components/Paginator'

export default {
  name: 'AsistenteLocal',
  components: {
    Paginator,
    Menu,
    AsistenteTablaLocal
  },
  computed: {
    ...mapState({
      locales: state => state.data_locales.results,
      locales_count: state => state.data_locales.count,
      locales_next: state => state.data_locales.next,
      locales_previous: state => state.data_locales.previous
    })
  },
  mounted () {
  },
  data () {
    return {
      search: {
        'pk': '',
        'codigo_postal': '',
        'colonia': ''
      }
    }
  },
  methods: {
    async searchLocales () {
      await this.$store.commit('RESET_TABLE_LOCAL')
      var search = '?'
      if (this.search.pk > 0) {
        search = search + 'pk=' + this.search.pk
        await this.$store.dispatch('searchLocales', search)
      } else if (!this.search.codigo_postal > 0 && !this.search.colonia > 0) {
        await this.$store.dispatch('searchLocales', search)
      } else {
        if (this.search.codigo_postal.length > 0) {
          search = search + '&codigo_postal=' + this.search.codigo_postal
        }
        if (this.search.colonia.length > 0) {
          search = search + '&colonia=' + this.search.colonia
        }
        await this.$store.dispatch('searchLocales', search)
      }
    },
    async paginatorEvent (event) {
      if (event === 'next') {
        await this.$store.dispatch('searchLocales', this.locales_next)
      } else if (event === 'previous') {
        await this.$store.dispatch('searchLocales', this.locales_previous)
      }
    }
  }
}
</script>
<style scoped>
</style>
