<template>
  <div>
    <div class="container">
      <div class="row mt-5">
                <div class="col-sm-12 mt-5">
                  <v-client-table :columns="columns" :data="lista_search" :options="options">
                  <template slot="pk" slot-scope="props">
                    <a @click.prevent="editarInstitucional(props.row)" href="#">{{props.row.pk}}</a>
                    <a class="ml-4" href="#" v-on:click="delete_institucional(props.row.pk)">Eliminar <i class="far fa-trash-alt"></i></a>
                  </template>
                  <template slot="nombre" slot-scope="props">
                    {{props.row.data.empresa}}
                  </template>
                  <template slot="data" slot-scope="props">
                    <div>
                      <b>Tipo:</b> {{props.row.data.tipo}} <br>
                      <b>Calificacion: </b> {{props.row.data.calificacion}}
                    </div>
                  </template>
                  <template slot="foto" slot-scope="props">
                    <div v-if="props.row.data.foto">
                      <img @load="rotate_on_load($event)" v-bind:src="props.row.data.foto[0]" class="img-thumbnail orientacion" style="width: 150px; height: 120px;">
                    </div>
                    <div v-else></div>
                  </template>
                  </v-client-table>
                </div>
            </div>
    </div>
  </div>
</template>
<script>
import { mapState } from 'vuex'

const EXIF = window.EXIF

export default {
  name: 'TablaInstitucional',
  computed: {
    ...mapState({
      lista_search: state => state.data_institucionales.results,
      giros: state => state.data_giros,
      propietarios: state => state.data_propietarios,
      espacios_row: state => state.data_espacios.results
    })
  },
  mounted () {
  },
  data () {
    return {
      theme: 'bootstrap4',
      Orientation: 0,
      imgClass: {
        'card-img-top': true,
        'img-fluid': false,
        'mystyle90': false,
        'mystyle180': false,
        'mystyle0': false
      },
      options: {
        filterByColumn: true,
        filterable: [
          // 'pk'
        ],
        headings: {
          pk: 'Pk',
          data: 'Descripción'
        },
        perPage: 100
      },
      columns: ['pk', 'nombre', 'data', 'foto']
    }
  },
  methods: {
    async editarInstitucional (data) {
      console.log(data)
      // await this.$store.dispatch('asistenteEditarEspacio', pk)
      this.$router.push({name: 'AsistenteEditEspacioInstitucional', params: { template: data }})
    },
    delete_institucional (pkInstitucional) {
      console.log(pkInstitucional)
    },
    rotate_on_load ($event) {
      this.set_rotation($event.target, 0)
    },
    set_rotation (img, tag) {
      var instance = this

      getExif(img, tag)

      function getExif (img, tag) {
        var CeroGrados = 'mystyle0'
        var NoventaGrados = 'mystyle90'
        var CientoOchentaGrados = 'mystyle180'

        EXIF.getData(img, function () {
          var Orientation = EXIF.getTag(this, 'Orientation')
          var arr = img.className.split(' ')
          if (Orientation) {
            if (Orientation === 6) {
              if (arr.indexOf(NoventaGrados) === -1) {
                if (tag === 0) {
                  img.className += ' ' + NoventaGrados
                } else if (tag === 1) {
                  instance.imgClass.mystyle90 = true
                }
              }
            } else if (Orientation === 1) {
            } else {
              if (arr.indexOf(CientoOchentaGrados) === -1) {
                if (tag === 0) {
                  img.className += ' ' + CientoOchentaGrados
                } else if (tag === 1) {
                  instance.imgClass.mystyle180 = true
                }
              }
            }
          } else {
            if (arr.indexOf(CeroGrados) === -1) {
              if (tag === 0) {
                img.className += ' ' + CeroGrados
              } else if (tag === 1) {
                instance.imgClass.mystyle0 = true
              }
            }
          }
        })
      }
    }
  }
}
</script>
