<template>
  <div>
    <Menu/>
    <div class="container">
      <form class="form-wrapper">
        <div class="form-row">
          <div class="col-sm-12 col-md-4">
            <div class="form-group">
              <label class="my-6">Buscar por Pk:</label>
              <input v-model="search.pk" type="text" class="form-control">
            </div>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="form-group">
              <label class="my-6">Buscar por codigo:</label>
              <input v-model="search.codigo" type="text" class="form-control">
            </div>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="form-group">
              <label class="my-6">Buscar por Empresa:</label>
              <select v-model="search.empresa" class="form-control">
                <option value="0">Seleccionar todos</option>
              </select>
            </div>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="form-group">
              <label class="my-6">Buscar por tipo:</label>
              <select v-model="search.tipo" class="form-control">
                <option value="0">Seleccionar todos</option>
                <option v-for="option_tipos in tipos" v-bind:value="option_tipos.pk" v-bind:key="option_tipos.pk">{{option_tipos.designacion}}</option>
              </select>
            </div>
          </div>
        </div>
        <button @click.prevent="searchInstitucionales" class="btn btn-secondary btn-block">Filtrar</button>
      </form>
    </div>
    <div class="mt-5 container">
      <div class="row" v-if="institucional_count > 0">
        <div class="col-md-12">
           <Paginator  :next="institucional_next" :previous="institucional_previous" :count="institucional_count" @handleEvent='paginatorEvent'/>
        </div>
      </div>
    </div>
    <AsistenteTablaInstitucional v-if="institucional_count > 0"/>
  </div>
</template>
<script>
import { mapState } from 'vuex'
import Menu from '@/components/Menu'
import AsistenteTablaInstitucional from '@/components/AsistenteTablaInstitucional'
import Paginator from '@/components/Paginator'

export default {
  name: 'AsistenteInstitucional',
  components: {
    Paginator,
    Menu,
    AsistenteTablaInstitucional
  },
  computed: {
    ...mapState({
      tipos: state => state.data_tipos,
      institucional: state => state.data_institucionales.results,
      institucional_count: state => state.data_institucionales.count,
      institucional_next: state => state.data_institucionales.next,
      institucional_previous: state => state.data_institucionales.previous
    })
  },
  mounted () {
  },
  data () {
    return {
      search: {
        'pk': '',
        'codigo': '',
        'empresa': '',
        'tipo': ''
      }
    }
  },
  methods: {
    async searchInstitucionales () {
      await this.$store.commit('RESET_TABLE_INSTITUCIONALES')
      var search = '?'
      if (!this.search.pk > 0 && !this.search.empresa.length > 0 && !this.search.tipo.length > 0) {
        await this.$store.dispatch('searchInstitucionales', search)
      } else {
        if (this.search.pk > 0) {
          search = search + 'pk=' + this.search.pk
          await this.$store.dispatch('searchInstitucionales', search)
        }
        // else {
        //   if (this.search.empresa.length > 0) {
        //     search = search + '&empresa=' + this.search.empresa
        //   }
        //   if (this.search.tipo.length > 0) {
        //     search = search + '&tipo=' + this.search.tipo
        //   }
        //   await this.$store.dispatch('searchInstitucionales', search)
        // }
      }
    },
    async paginatorEvent (event) {
      if (event === 'next') {
        await this.$store.dispatch('searchInstitucionales', this.institucional_next)
      } else if (event === 'previous') {
        await this.$store.dispatch('searchInstitucionales', this.institucional_previous)
      }
    }
  }
}
</script>
<style scoped>
</style>
