<template>
    <div>
        <Menu/>
        <div class="container">
        <h4 class="my-4">Información fiscal</h4>
        <div class="form-wrapper">
          <fieldset class="form-group">
            <div class="form-check">
              <label class="form-check-label">
                <input @change="checkFactura()" type="radio" class="form-check-input" name="optionsRadios" value="true" v-model="data.datos_comerciales.factura"> Doy Factura
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input @change="checkFactura()" type="radio" class="form-check-input" name="optionsRadios" value="false" v-model="data.datos_comerciales.factura"> No doy factura
              </label>
            </div>
          </fieldset>
          <div class="form-group">
            <label for="InputRFC1">RFC</label>
            <input type="text" v-model="data.datos_comerciales.rfc" class="form-control" id="InputRFC" placeholder="Escriba su RFC" >
          </div>
        </div>
        <h4 class="my-4">Información bancaria</h4>
        <div class="form-wrapper">
          <div class="form-group">
            <label for="InputBanco1">Banco:</label>
            <input type="text" v-model="data.datos_bancarios.banco" class="form-control" id="InputBanco1" placeholder="Escriba el nombre de su banco">
          </div>
          <div class="form-group">
            <label for="InputClave1">Cuenta CLABE o Tarjeta de débito: </label>
            <input type="text" v-model="data.datos_bancarios.numero_de_cuenta" class="form-control" id="InputClave1" placeholder="CLABE o Tarjeta" >
          </div>
          <div class="form-group">
            <label for="InputCuenta1">Titular de la cuenta:</label>
            <input type="text" v-model="data.datos_bancarios.titular" class="form-control" id="InputCuenta1" placeholder="Titular">
          </div>
        </div>
        <div class="form-wrapper">
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <button @click.prevent="guardar()" class="btn btn-secondary btn-block">Guardar</button>
            </div>
            <div class="col-md-6 col-sm-12">
              <button @click.prevent="cancelar()" class="btn btn-secondary btn-block">Cancelar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</template>
<script>
import Menu from '@/components/Menu'
import { mapGetters } from 'vuex'
import $ from 'jquery'

export default {
  name: 'AsistenteEditPropietarioBancario',
  components: {
    Menu
  },
  computed: {
    ...mapGetters({
      getter_datos_bancarios: 'getter_datos_bancarios',
      getter_datos_comerciales: 'getter_datos_comerciales'
    })
  },
  mounted () {
    this.verificar()
  },

  data () {
    return {
      propietario: {
        id: -1
      },
      data: {
        'pk': 0,
        'datos_comerciales': {
          'rfc': '',
          'factura': false
        },
        'datos_bancarios': {
          'banco': '',
          'numero_de_cuenta': '',
          'titular': ''
        }
      },
      radio: {
        'true': 1,
        'false': 0
      }
    }
  },
  methods: {
    async guardar () {
      await this.$store.dispatch('PropietarioPost', this.data)
      await await this.$store.dispatch('asistentePropietario', this.data.pk)
      if (this.$route.params.data === 'Propietario') {
        this.$router.push({name: 'PropietarioEdit', params: {data: 'Propietario'}})
      } else {
        if (this.$route.params.data === 'Espacio') {
          this.$router.push({name: 'PropietarioEdit', params: {data: 'Espacio'}})
        } else {
          this.$router.push({name: 'PropietarioEdit', params: {data: 'Local'}})
        }
      }
    },
    checkFactura () {
      if (this.data.datos_comerciales.factura === false) {
        $('#InputRFC')[0].disabled = true
        $('#InputRFC')[0].placeholder = 'Activar facturación'
      } else {
        $('#InputRFC')[0].disabled = false
        $('#InputRFC')[0].placeholder = 'Escriba su RFC'
      }
    },
    verificar () {
      this.data.pk = this.$route.params.pk
      if (this.getter_datos_bancarios) {
        this.data.datos_bancarios.banco = this.getter_datos_bancarios.banco
        this.data.datos_bancarios.numero_de_cuenta = this.getter_datos_bancarios.numero_de_cuenta
        this.data.datos_bancarios.titular = this.getter_datos_bancarios.titular
      }
      if (this.getter_datos_comerciales) {
        this.data.datos_comerciales.rfc = this.getter_datos_comerciales.rfc
        this.data.datos_comerciales.factura = this.getter_datos_comerciales.factura
      }
    },
    cancelar () {
      if (this.$route.params.data === 'Propietario') {
        this.$router.push({name: 'PropietarioEdit', params: {data: 'Propietario'}})
      } else {
        if (this.$route.params.data === 'Espacio') {
          this.$router.push({name: 'PropietarioEdit', params: {data: 'Espacio'}})
        } else {
          this.$router.push({name: 'PropietarioEdit', params: {data: 'Local'}})
        }
      }
    }
  }
}
</script>
