<template>
     <div>
       <Menu/>
        <div class="container">
          <form class="form-wrapper">
        <div class="form-group">
          <label for="InputNombre1">Nombre</label>
          <input v-model="propietario.datos_personales.primer_nombre" type="text" v-bind:class="[{'form-control': true}, {'is-invalid': add_class_is_invalid(datos_personales.primer_nombre)}]"
            placeholder="Nombre">
          <div class="invalid-feedback">
            Campo requerido.
          </div>
        </div>
        <div class="form-group">
          <label for="Inputapellidos1">Apellido paterno</label>
          <input v-model="propietario.datos_personales.apellido_paterno" type="text" v-bind:class="[{'form-control': true}, {'is-invalid': add_class_is_invalid(datos_personales.apellido_paterno)}]"
            placeholder="Apellido paterno">
          <div class="invalid-feedback">
            Campo requerido.
          </div>
        </div>
        <div class="form-group">
          <label for="Inputapellidos2">Apellido materno</label>
          <input v-model="propietario.datos_personales.apellido_materno" type="text" class="form-control" placeholder="Apellido materno">
        </div>
        <div class="form-group">
          <label for="InputEmail1">Correo electrónico</label>
          <input v-model="propietario.datos_personales.email" type="email" class="form-control is-invalid" name="email" aria-describedby="emailHelp"
            placeholder="Correo electrónico" required>
          <div class="invalid-feedback">
            El correo electrónico o el teléfono son campo requeridos.
          </div>
        </div>
        <div class="form-group">
          <label for="InputTelefono1">Teléfono</label>
          <input v-model="propietario.datos_personales.telefono" type="tel" class="form-control is-invalid" name="telefono" placeholder="Teléfono" required>
          <div class="invalid-feedback">
            El correo electrónico o el teléfono son campo requeridos.
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="alert alert-success" role="alert" hidden>
              <strong>Trabajando</strong> {{ alert_message }}
            </div>
          </div>
        </div>
      </form>
      <div class="row submitrow">
          <div class="col-md-4 col-sm-2 mt-2">
            <button @click.prevent="PropietarioPost" class="btn btn-secondary btn-block">Guardar</button>
          </div>
          <div class="col-md-4 col-sm-2 mt-2">
            <button @click.prevent="DatosBancarios" class="btn btn-secondary btn-block">Datos Bancarios</button>
          </div>
          <div class="col-md-4 col-sm-2 mt-2">
            <button @click.prevent="Regresar" class="btn btn-secondary btn-block">Regresar</button>
          </div>
        </div>
      <span><h2>Estatus bancario:</h2> <h3>{{datos_personales.estatus_bancario}}</h3></span>
      <hr>
      <h2>Espacios de este usuario</h2>
      <div id="espacios_propietario">
          <v-client-table :data="rows" :columns="columns" :options="options">
            <template slot="foto" slot-scope="props">
              <div id='espacio'>
                  <img v-bind:src="props.row.foto" alt="" type="submit" class="img-thumbnail" style="width: 150px; height: 120px;">
              </div>
            </template>
             <template slot="pk" slot-scope="props">
              <div id="childrow">
                <a v-bind:pk="props.row.id" @click.prevent="EditarEspacio(props.row.pk)" href="#">
                  {{props.row.pk}}
                </a>
              </div>
            </template>
          </v-client-table>
        </div>
        <hr>
        <h2>Locales de este usuario</h2>
        <div id="locales_propietario">
          <v-client-table :data="rows2" :columns="columns2" :options="options2">

            <template slot="foto" slot-scope="props">
              <div id="local">
                <img v-bind:src="props.row.foto" alt="" type="submit" class="img-thumbnail" style="width: 150px; height:120px;">
              </div>
            </template>
            <template slot="pk" slot-scope="props">
              <div id="childrow">
                <a v-bind:pk="props.row.id" @click.prevent="EditarLocal(props.row.pk)" href="#">
                  {{props.row.pk}}
                </a>
              </div>
            </template>
          </v-client-table>
        </div>
        </div>
     </div>
</template>

<script>
import Menu from '@/components/Menu'
import { mapGetters, mapState } from 'vuex'
import $ from 'jquery'

export default {
  name: 'AsistenteEditPropietario',
  components: {
    Menu
  },
  computed: {
    ...mapGetters({
      propietario_espacio: 'propietario_espacio'
    }),
    ...mapState({
      propietario_locales: state => state.data_propietariosLocales,
      propietario: state => state.data_propietario
    })
  },
  data () {
    return {
      theme: 'bootstrap4',
      columns2: [
        'pk', 'nombre_comercial',
        'municipio', 'colonia', 'espacio_tipo',
        'foto'
      ],
      columns: [
        'pk',
        'nombre', 'registro',
        'giro', 'foto'
      ],
      rows: [],
      rows2: [],
      options: {
        texts: {
          filter: '',
          filterBy: '{column}'
        },
        filterByColumn: true,
        filterable: [
          'nombre'
        ],
        sortable: true,
        pagination: {
          dropdown: true,
          esdge: true
        },
        sortIcon: {
          base: 'fa fas',
          is: 'fa-sort',
          up: 'fa-sort-alpha-asc',
          down: 'fa-sort-alpha-desc'
        },
        highlightMatches: true,
        perPageValues: [10, 25, 50, 100, 200, 1000]
      },
      options2: {
        texts: {
          filter: '',
          filterBy: '{column}'
        },
        filterByColumn: true,
        filterable: [
          'nombre_comercial'
        ],
        sortable: true,
        pagination: {
          dropdown: true,
          esdge: true
        },
        sortIcon: {
          base: 'fa fas',
          is: 'fa-sort',
          up: 'fa-sort-alpha-asc',
          down: 'fa-sort-alpha-desc'
        },
        highlightMatches: true,
        perPageValues: [10, 25, 50, 100, 200, 1000]
      },
      datos_personales: {
        primer_nombre: '',
        apellido_paterno: '',
        email: '',
        telefono: '',
        estatus_bancario: ''
      },
      alert_message: ''
    }
  },
  async mounted () {
    await this.$store.dispatch('PropietarioEspacios', this.propietario.pk)
    await this.$store.dispatch('PropietarioLocal', this.propietario.pk)
    this.setPropietario()
  },
  methods: {
    setPropietario () {
      this.rows = this.propietario_espacio
      this.rows2 = this.propietario_locales
    },
    add_class_is_invalid (inputBlock) {
      if (inputBlock !== '') {
        return false
      } else {
        return true
      }
    },
    Regresar () {
      if (this.$route.params.data === 'Propietario') {
        this.$router.push({name: 'Propietario'})
      } else {
        if (this.$route.params.data === 'Espacio') {
          this.$router.push({ name: 'Espacio' })
        } else {
          this.$router.push({name: 'Local'})
        }
      }
    },
    async PropietarioPost () {
      if (!this.propietario.datos_personales.email && !this.propietario.datos_personales.telefono) {
        alert('Falata email o telefono')
        return false
      }
      if (!this.propietario.datos_personales.primer_nombre || !this.propietario.datos_personales.apellido_paterno) {
        alert('Error datos del propietario')
        return false
      }
      if (this.propietario.datos_personales.telefono.length > 10) {
        alert('El telefono supera mas de los 10 digitos')
        return false
      }
      this.alert_message = 'Datos de propietario enviando'
      $('.alert-success')[0].hidden = false
      $('.submitrow')[0].hidden = true
      var data = {
        'pk': this.propietario.pk,
        'estatus': this.propietario.estatus,
        'datos_personales': {
          'primer_nombre': this.propietario.datos_personales.primer_nombre,
          'apellido_paterno': this.propietario.datos_personales.apellido_paterno,
          'apellido_materno': this.propietario.datos_personales.apellido_materno,
          'email': this.propietario.datos_personales.email,
          'telefono': this.propietario.datos_personales.telefono
        }
      }
      await this.$store.dispatch('PropietarioPost', data)
      if (this.$route.params.data === 'Propietario') {
        this.$router.push({name: 'Propietario'})
      } else {
        if (this.$route.params.data === 'Espacio') {
          this.$router.push({ name: 'Espacio' })
        } else {
          this.$router.push({name: 'Local'})
        }
      }
    },
    DatosBancarios () {
      if (this.$route.params.data === 'Propietario') {
        this.$router.push({name: 'PropietarioBancariosEdit', params: {data: 'Propietario', pk: this.propietario.pk}})
      } else {
        if (this.$route.params.data === 'Espacio') {
          this.$router.push({name: 'PropietarioBancariosEdit', params: {data: 'Espacio', pk: this.propietario.pk}})
        } else {
          this.$router.push({name: 'PropietarioBancariosEdit', params: {data: 'Local', pk: this.propietario.pk}})
        }
      }
    },
    async EditarEspacio (pkEspacio) {
      await this.$store.dispatch('asistenteEditarEspacio', pkEspacio)
      if (this.$route.params.data === 'Propietario') {
        this.$router.push({name: 'EspacioEdit', params: {data: 'Propietario'}})
      } else {
        if (this.$route.params.data === 'Espacio') {
          this.$router.push({name: 'EspacioEdit', params: {data: 'Espacio'}})
        } else {
          this.$router.push({name: 'EspacioEdit', params: {data: 'Local'}})
        }
      }
    },
    async EditarLocal (pkLocal) {
      await this.$store.dispatch('asistenteEditarLocal', pkLocal)
      if (this.$route.params.data === 'Propietario') {
        this.$router.push({name: 'LocalEdit', params: {data: 'Propietario'}})
      } else {
        if (this.$route.params.data === 'Espacio') {
          this.$router.push({name: 'LocalEdit', params: {data: 'Espacio'}})
        } else {
          this.$router.push({name: 'LocalEdit', params: {data: 'Local'}})
        }
      }
    }
  }

}

</script>
