<template>
  <div>
    <div class="container">
      <form class="form-wrapper">
        <div class="form-row">
          <div class="col-sm-12 col-md-3">
            <div class="form-group">
              <label class="my-6">Buscar por pk:</label>
              <input v-model="search.pk"  type="text" class="form-control">
            </div>
          </div>
          <div class="col-sm-12 col-md-3">
            <div class="form-group">
              <label class="my-6">Buscar por tipo:</label>
              <select v-model="search.tipo" class="form-control">
                <option value="0">Seleccionar todos</option>
                <option v-for="option_tipos in tipos" v-bind:value="option_tipos.pk" v-bind:key="option_tipos.pk">{{option_tipos.designacion}}</option>
              </select>
            </div>
          </div>
          <div class="col-sm-12 col-md-3">
            <div class="form-group">
              <label class="my-6">Buscar por giro:</label>
              <select v-model="search.giro" class="form-control">
                <option value="0">Seleccionar todos</option>
                <option v-for="option_giros in giros"   v-bind:value="option_giros.pk" v-bind:key="option_giros.pk">{{option_giros.designacion}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-sm-12 col-md-6">
            <div class="form-group">
              <label class="my-6">Direccion:</label>
              <input v-model="search.direccion"  type="text" class="form-control">
            </div>
          </div>
        </div>
        <button @click.prevent="searchEspacios" class="btn btn-secondary btn-block">Filtrar</button>
      </form>
    </div>
    <div class="mt-5 container">
      <div class="row" v-if="espacios_count > 0">
        <div class="col-md-12">
           <Paginator  :next="espacios_next" :previous="espacios_previous" :count="espacios_count" @handleEvent='paginatorEvent'/>
        </div>
      </div>
    </div>
    <AsistenteTablaEspacio v-if='espacios'/>
  </div>
</template>
<script>
import { mapState } from 'vuex'
// import Botones from '@/components/Botones'
import Paginator from '@/components/Paginator'
import AsistenteTablaEspacio from '@/components/AsistenteTablaEspacio'

export default {
  name: 'AsistenteEspacio',
  components: {
    // Botones,
    Paginator,
    AsistenteTablaEspacio
  },
  computed: {
    ...mapState({
      tipos: state => state.data_tipos,
      giros: state => state.data_giros,
      espacios: state => state.data_espacios.results,
      espacios_count: state => state.data_espacios.count,
      espacios_next: state => state.data_espacios.next,
      espacios_previous: state => state.data_espacios.previous
    })
  },
  mounted () {

  },
  data () {
    return {
      search: {
        'pk': '',
        'tipo': 0,
        'giro': 0,
        'material': 0,
        'direccion': ''
      }
    }
  },
  methods: {

    async searchEspacios () {
      await this.$store.commit('RESET_TABLE_ESPACIOS')
      var search = '?'
      if (this.search.pk > 0) {
        search = search + 'pk=' + this.search.pk
        await this.$store.dispatch('searchEspacios', search)
      } else if (!this.search.tipo > 0 && !this.search.giro > 0 && !this.search.direccion > 0) {
        await this.$store.dispatch('searchEspacios', search)
      } else {
        if (this.search.tipo > 0) {
          search = search + '&tipo=' + this.search.tipo
        }
        if (this.search.giro > 0) {
          search = search + '&giro=' + this.search.giro
        }
        if (this.search.direccion.length > 0) {
          search = search + '&direccion=' + this.search.direccion
        }
        await this.$store.dispatch('searchEspacios', search)
      }
    },
    async paginatorEvent (event) {
      if (event === 'next') {
        await this.$store.dispatch('searchEspacios', this.espacios_next)
      } else if (event === 'previous') {
        await this.$store.dispatch('searchEspacios', this.espacios_previous)
      }
    }
  }
}
</script>
