<template>
  <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-12 mt-3">
          <button v-on:click.prevent="promotores" type="submit" class="btn btn-secondary btn-block">Promotores</button>
        </div>
        <div class="col-md-3 col-sm-12 mt-3">
          <button v-on:click.prevent="propietarios" type="submit" class="btn btn-secondary btn-block">Propietarios</button>
        </div>
        <div class="col-md-3 col-sm-12 mt-3">
          <button v-on:click.prevent="locales" type="submit" class="btn btn-secondary btn-block">Locales</button>
        </div>
        <div class="col-md-3 col-sm-12 mt-3">
          <button v-on:click.prevent="espacios" type="submit" class="btn btn-secondary btn-block">Espacios</button>
        </div>
      </div>
  </div>
</template>
<script>

export default {
  name: 'Botones',
  components: {
  },
  computed: {
  },
  mounted () {

  },

  data () {
    return {
    }
  },

  methods: {

    async promotores () {
      this.$router.push({name: 'Promotores'})
    },
    async propietarios () {
      this.$router.push({name: 'Propietario'})
    },
    async espacios () {
      this.$router.push({name: 'Espacio'})
    },
    async locales () {
      this.$router.push({name: 'Local'})
    }

  }
}
</script>
