<template>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>No. de Promotores:
          <span class="badge badge-secondary">{{$store.state.data_promotores.length}}/{{$store.state.data_promotores.length}}</span>
        </h5>
      </div>
      <div class="col-md-8">
      </div>
    </div>
  </div>
</template>
<script>
import { mapState } from 'vuex'
export default {
  name: 'AsistenteDatos',
  components: {
  },
  computed: {
    ...mapState({
    })
  },
  mounted () {
  },
  data () {
    return {
      styleEspacios: '75%'
    }
  },
  methods: {

  }
}
</script>
