<template>
    <div>
        <div class="container">
          <div class="row mt-5 d-flex justify-content-around">
            <div class="col-sm-12 col-md-5 mt-5">
              <h1>Tipos</h1>
              <v-client-table :columns="columns_tipos" :data="tipos" :options="options_tipos">
              </v-client-table>
            </div>
            <div class="col-sm-12 col-md-5 mt-5">
              <h1>Giros</h1>
              <v-client-table :columns="columns_giros" :data="giros" :options="options_giros">
              </v-client-table>
            </div>
          </div>
          <div class="row mt-5 d-flex justify-content-around">
            <div class="col-sm-12 col-md-7 mt-5">
              <div v-if="locales_no_asignados">
              <h1>Locales que no cuentan con giros</h1>
                <v-client-table :columns="columns_locales_no_asignado" :data="locales_no_asignados" :options="options_locales_no_asignados">
                <template slot="pk" slot-scope="props">
                  <div>
                    <a @click.prevent="editarLocal(props.row.pk)" href="#">{{props.row.pk}}</a>
                  </div>
                </template>
                <template slot="foto" slot-scope="props">
                  <div v-if="props.row.foto == null">
                  </div>
                  <div v-else>
                    <img v-bind:src="props.row.foto.src" alt="" type="submit" class="img-thumbnail orientacion" style="width: 150px; height:120px;">
                  </div>
                </template>
              </v-client-table>
              </div>
            </div>
          </div>
        </div>
    </div>
</template>
<script>
import { mapState } from 'vuex'
import Menu from '@/components/Menu'

export default {
  name: 'Extras',
  components: {
    Menu
  },
  computed: {
    ...mapState({
      tipos: state => state.data_tipos,
      giros: state => state.data_giros,
      locales_no_asignados: state => state.data_locales_no_asignado.body
    })
  },
  mounted () {
    this.data_locales_no_asignado()
  },
  data () {
    return {
      options_locales_no_asignados: {
        filterByColumn: true,
        filterable: ['pk'],
        headings: {
          pk: 'Pk'
        },
        perPage: 30
      },
      columns_locales_no_asignado: ['pk', 'nombre_comercial', 'espacio_tipo', 'foto'],
      options_tipos: {
        filterByColumn: true,
        filterable: [
          // 'pk'
        ],
        headings: {
          pk: 'Pk'
        },
        perPage: 30
      },
      columns_tipos: ['pk', 'designacion'],
      options_giros: {
        filterByColumn: true,
        filterable: [
          // 'pk'
        ],
        headings: {
          pk: 'Pk'
        },
        perPageValues: [10, 15, 30, 60],
        perPage: 10
      },
      columns_giros: ['pk', 'designacion']
    }
  },
  methods: {
    async editarLocal (pk) {
      await this.$store.dispatch('asistenteEditarLocal', pk)
      this.$router.push({name: 'LocalEdit', params: {data: 'Local_extra'}})
    },
    async data_locales_no_asignado () {
      await this.$store.dispatch('locales_no_asignados')
    }
  }
}
</script>
<style scoped>
</style>
