<template>
  <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <div class="container">
      <a  v-bind:href="url" class="navbar-brand">ADXPACE</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a v-on:click.prevent="promotores" class="nav-link" href="#">PROMOTORES</a>
        </li>
        <li class="nav-item">
          <a v-on:click.prevent="propietarios" class="nav-link" href="#">PROPIETARIOS</a>
        </li>
        <li class="nav-item">
          <a v-on:click.prevent="locales" class="nav-link" href="#">LOCALES</a>
        </li>
        <li class="nav-item">
          <a v-on:click.prevent="espacios" class="nav-link" href="#">ESPACIOS</a>
        </li>
        <li class="nav-item">
          <a v-on:click.prevent="institucionales" class="nav-link" href="#">ESPACIOS OOH</a>
        </li>
        <li class="nav-item">
          <a v-on:click.prevent="extras" class="nav-link" href="#">EXTRAS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" v-bind:href="url" >LOGOUT</a>
        </li>
      </ul>
    </div>
  </div>
  </nav>
</template>
<script>
import { mapState } from 'vuex'
export default {
  name: 'AsistenteBotones',
  components: {
  },
  computed: {
    ...mapState({
      apiRoot: state => state.apiRoot
    })
  },
  mounted () {
    this.url = this.apiRoot + 'logout'
  },
  data () {
    return {
      url: ''
    }
  },
  methods: {
    promotores () {
      this.$router.push({name: 'Promotores'})
    },
    propietarios () {
      this.$router.push({name: 'Propietario'})
    },
    espacios () {
      this.$router.push({name: 'Espacio'})
    },
    locales () {
      this.$router.push({name: 'Local'})
    },
    institucionales () {
      this.$router.push({name: 'Institucional'})
    },
    extras () {
      this.$router.push({name: 'Extras'})
    }
  }
}
</script>
<style>

</style>
